{% extends "portfolio/base.html" %}

{% block content %}

{% load staticfiles %}
<style>
    .container {
        padding: 160px 80px 160px 80px;

    }

    #pdficon {
        height: 45px;
        width: 45px;
        margin-left: 20px;

    }
</style>
<div id="hoverDiv">

    <h3> Hello there and welcome to my portfolio site.</h3><br>
    <h3> I am Elvis. I have spent a little over a year already, coding with Python and Csharp and love every second of
        it!
    </h3><br>
    <h3> Although I am coming from an accounting background where I have spent time in Education and Government, I
        have worked as an SQL Data Analyst for a data consulting company, have gone through a popular coding bootcamp
        and
        have also built and deployed some functional projects in
        Python
        using Django as well as in Csharp using ASP.NETcore and employed full CRUD methodology.
    </h3><br>
    <h3>I currently have a graduate business degree, and a coding bootcamp certificate where I spent over
        10,000 hours coding and building projects in Python/Django and Csharp/ASP.NETcore.
        I am a quick learner, and an enthusiastic problem solver with experience in resolving complex
        issues.
    </h3><br>
    <h3>Please feel free to explore my portfolio site as much as possible and contact me with any questions you may
        have.
    </h3><br>

    <h3> I have included a link to a copy of my resume in printable and downloadable pdf format bellow.
        I can
        also be reached by email at clakkle@yahoo.com</h3>
    <br>
    <h3> Hope you have an enjoyable visit on the site .</h3> <br><br>
    <h3>Elvis</h3><br>

</div>

<a href="{% url 'portfolio:linkedIn' %}">
    <img id="linkediicon" src='{% static "portfolio/images/LinkedIn.png" %}' alt="LinkedIn">
</a>
|
<a href="{% url 'portfolio:Pdf' %}">
    <img id="pdficon" src='{% static "portfolio/images/pdficon.png" %}' alt="resume">
</a>

{% endblock content %}
{% block cameleon %}



<script>
    $(document).ready(function () {
        //this first function inide the hover method
        //is for when the mouse enters the element
        $('div#hoverDiv').hover(function () {
            //set multiple CSS properties at once
            $(this).css({
                'background-color': 'tomato',


            });
        }, function () {
            //set multiple CSS properties at once
            $(this).css({
                'background-color': '',

            });
        });
    });

</script>

{% endblock cameleon %}