{% extends "portfolio/base.html" %}

{% block content %}

{% load staticfiles %}


<h3> Hello there and welcome to my portfolio site.</h3><br>
<h3> I am Elvis. I have spent a little over a year already, coding with Python and Csharp and love every second of it!
</h3><br>
<h3> Although I am coming from an accounting background where I have spent time in Education and Government, I
    have worked as an SQL Data Analyst for a data consulting company, have gone through a popular coding bootcamp
    and
    have also built some functional projects in
    Python
    and Django as well as Csharp and ASP.NETcore employing full CRUD methodology.
</h3><br>
<h3>I currently have a graduate business degree, and a coding bootcamp certificate where I spent over
    10,000 hours coding and building projects in Python/Django and Csharp/ASP.NETcore(please take a look).
    I am a quick learner, and an enthusiastic problem solver with experience in resolving complex
    issues.
</h3><br>
<h3>Please feel free to explore my portfolio site as much as possible and contact me with any questions you may have.
</h3><br>

<h3> I have included a link to my Linkedin profile bellow where you will find my resume and the best way to contact me.
    I can
    also be reached by email at clakkle@yahoo.com</h3>
<br>
<h3> Hope you have an enjoyable visit on the site .</h3> <br><br>
<h3>Elvis</h3>



<a href="">

    <img id="LinkedIn" src='{% static "portfolio/images/LinkedIn.png" %}' alt="LinkedIn">

</a>


{% endblock content %}