{% extends "portfolio/base.html" %}

{% block title %}
ASP.NETcore
{% endblock title %}

{% block content %}

{% load staticfiles %}
<style>
    .container {
        padding: 70px 20px 70px 20px;


    }

    #icon01,
    #icon02 {
        display: inline-block;
        height: 138px;
        width: 138px;
    }

    #giticon {
        display: inline-block;

    }

    .subcontent1a {

        border-radius: 25px;
        margin: 80px 40px 40px 40px;
        font-size: 22px;

    }

    .subcontent1 .subcontent1a {

        width: 900px;
        height: 300px;
        padding: 450px 40x 40px 40px;
        text-align: left;




    }

    @keyframes rotatez {
        100% {
            transform: rotateZ(360deg);
        }
    }

    #icon01 {
        /* This section calls the slideInFromrightt animation we defined above */
        animation: .5s ease-out 1s 6 rotatez;
    }

    #icon02 {
        /* This section calls the slideInFromrightt animation we defined above */
        animation: .5s ease-out 2s 6 rotatez;
    }
</style>

<div class="container">
    <h1> <strong>Welcome to my C#/ASP.NETcore Projects page.</strong> </h1>
    <hr>
    <h1>Here, you will find two projects I bult with C#/ASP.NETcore.When you are done reading about a specific project,
        hit
        the C# icon to access the project. Once you hop on a project site , you have left this portfolio site. You would
        be able to find your way
        back. Hope you
        like my projects.
    </h1>
    <hr>



    <div id="subcontent1">

        <div id="hoverDiv" class="subcontent1a">
            <a href="{% url 'portfolio:weddingplannersite' %}">
                <img id="icon01" src='{% static "portfolio/images/csharplogo.png" %}' alt="csharplogo"></a>
            <a href="{% url 'portfolio:weddingplanner' %}">
                <img id="giticon" src='{% static "portfolio/images/githubimg.png" %}' alt="githubimage"></a>

            <h1> <strong> WEDDING PLANNER!!</strong></h1>
            <h3>In this first project, you will plan a wedding and have an option for guests to RSVP or Un-RSVP!</h3>
            <h3>A user should be able to create, edit, update and delete an item.</h3>
            <h3> It was bulit with ASP.NETcore framework and deployed using Amazon EC2 Web Services.</h3>
            <h3> A user should be able to signup and login with their newly created credentials. There is also an
                existing
                credential if you are pressed for time:
                Username: clakkle@yahoo.com PW: Clakkle#2019
            </h3>
            <hr>



        </div>
        <div id="hoverDiv" class="subcontent1a">
            <a href="{% url 'portfolio:healthwallsite' %}">
                <img id="icon02" src='{% static "portfolio/images/csharplogo.png" %}' alt="csharplogo">
            </a>
            <a href="{% url 'portfolio:healthwall' %}">
                <img id="giticon" src='{% static "portfolio/images/githubimg.png" %}' alt="githubimage">
            </a>
            <h1> <strong> HEALTH WALL!!</strong></h1>
            <h3>In this second project, you will suggest a healthy habit anyone can adopt. You will be posting on a
                wall!</h3>
            <h3> A user should be able to create, edit, update and delete an item.</h3>
            <h3> It was bulit with ASP.NETcore framework and deployed using Amazon EC2 Web Services.</h3>
            <h3> A user should be able to signup and login with their newly created credentials. Please use the
                following
                existing credentials if you are pressed for time:
                Username: clakkle@yahoo.com PW: Clakkle#2019
            </h3>


        </div>
    </div>
    {% endblock content %}


    {% block cameleon %}



    <script>
        $(document).ready(function () {
            //this first function inide the hover method
            //is for when the mouse enters the element
            $('div#hoverDiv').hover(function () {
                //set multiple CSS properties at once
                $(this).css({
                    'background-color': 'tomato',


                });
            }, function () {
                //set multiple CSS properties at once
                $(this).css({
                    'background-color': 'darkgrey',

                });
            });
        });

    </script>

    {% endblock cameleon %}