<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .address {
            text-align: center;
        }

        .Name {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">

        <h1 class="address">
            4945 Tinker Diagonal <br>
            Oklahoma City, OK 73115<br>
            Cell: 9188516725<br>
            ndike01@yahoo.com<br>

        </h1>
        <hr>

        <h1 class="Name"><strong>Elvis N Makia</strong></h1>

        <hr>
        <br>

        <h1> <strong>SUMMARY</strong> </h1>
        <h2>I am an ever-growing developer, with experience creating and testing full stack applications using a wide
            variety of technologies. With my experience as a business professional, I can translate that knowledge to
            the code I create bringing a better end-user experience that is aligned with customer marketing goals.
        </h2>

        <h1> <strong>PROFESSIONAL EXPERIENCE</strong></h1>

        <h1>CODING DOJO. <br> Nov 2019 to May 2019.<br>Software Development Bootcamp.</h1>
        <h2>Coding Dojo is full time and part time 14 to 16 week immersive software development bootcamp with several
            onsite and online locations.<br>The program teaches any where from 2 to 3 full stacks including Python
            (Flask &
            Django Frameworks), C#/ASP.NET (Dapper & Entity Frameworks), and the MEAN stack along with SQL and NoSQL
            databases.<br>
            At the end of each of my two stacks, I was given a wireframe that I had 5 to 48 hours to build into a full
            CRUD
            application which included server-side validations, login and registration.<br>
            During my time in the program, it was not uncommon for to spend 10-12 hours per day developing the skills to become a
            self-sufficient developer which included an understanding of  advanced programing concepts and data structures.<br>
            After completing the program, I am now proficient in HTML, CSS, JavaScript (jQuery, Ajax), C#/ASP.Net - (
            Entity) and Python (Flask & Django Frameworks) </h2>

        <h1>Zenith Education Group. <br>Montgomery Al. <br> Dec 2012 to Feb 2018. <br>Full Time Faculty.</h1>
        <h2>
            Was involved in weekly team meetings.<br>
            Taught live courses at various levels of accounting, using "adobe connect" to groups of students.<br>
            Participated in curriculum development and online course redesign with the IT team.<br>
            Was Subject Matter Expert in several accounting courses during website and course content redesign.<br> Performed
            deep dive sessions.<br>
            Graded scripts on a weekly basis.<br>
            Routinely made contact with failing students and set up appointments for individual tutoring and
            coaching.<br>
            Delivered coursework in various accounting courses using an online platform to over 90 students each
            term.<br>
        </h2>
        <br>

        <h1> Unity Solutions and Consulting. <br> Johannesburg SA.<br>May 2010 to Nov 2012. <br>SQL Data Analyst. </h1>
        <h2>
            Involved in writing queries, creating database objects such as; tables, views, stored procedures and
            triggers.<br>
            Developed Tableau workbooks from multiple data sources using Data Blending.<br>
            Accessed and transformed datasets through joins, filtering, grouping and aggregation.<br>
        </h2>

        <h1> ALABAMA DEPARTMENT OF REVENUE<br>Montgomery AL<br>May 2006 to March 2010<br>Revenue Examiner </h1>

        <h2>
            Was subject matter expert during online tax forms development and testing.<br>
            Audited sub chapter s corporations /passthrough entities.<br>
            Audited individual income tax returns.<br>
            Researched tax anomalies between state and federal tax laws.<br>
            Regularly responded to enquiries from the public and corporations.<br>
            Researched complex tax enquiries ranging from; completing Alabama state tax form line items, to
            schedule preparations; from company and tax professionals. Responded by phone, email and in person.<br>
            Billed individuals and corporations for failure to pay, and failure to file penalties.<br>
            Adjusted individual , partnership and sub chapter s corporation returns for income tax overpayments and underpayments.<br>
            Researched and billed sub chapter s corporation non fillers.<br>
        </h2>

        <br>


        <h1><strong>EDUCATION </strong></h1>
        <h1> CODING DOJO, ONLINE TRACK FROM SEATTLE WA. MAY 2019.<br>Computer Software Engineering Immersive. </h1>
        <h1> TROY UNIVERSITY, TROY AL 2005.<br>MBA (Accounting Concentration) </h1>
        <h1> UNIVERSITY OF BUEA, BUEA CAMEROON 2000.<br> BS Accounting. </h1>

    </div>
</body>

</html>