<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>


    </style>
</head>

<body>
    <div class="container">


        <h2><strong>Elvis N Makia</strong> <br>
            9188516725 | Oklahoma City, OK<br> ndike01@yahoo.com || www.linkedin.com/in/elvismakia
        </h2>
        <hr margin-top="0px" size="3px" color="blue" nonshade>
        <hr margin-top="0px" size="3px" color="blue" nonshade> <br>

        <h3> <strong>PROFESSIONAL SUMMARY</strong> <br>
            Ever-growing software engineer and business professional, with professional technical expertise in
            application development, deployment, object oriented design and a passion for crafting engaging full
            stack applications, using a wide
            variety of technologies to enhance the user experience . Great at picking up new technologies and design
            concepts. Over 8 years of progresive experience with customers in education and government in a
            technical
            capacity and mentoring role.
        </h3>

        <h3><strong>TECHNICAL SKILLS </strong><br> Languages: Python, Csharp, JavaScript, HTML5, CSS, CSS3.<br>
            Front-End/Libraries: ReactJS, jQuery, Ajax, Boots-trap.<br>
            Frameworks:Flask, Django, NodeJS, ASP.NETcore.<br>
            Dev Tools: AWS EC2, GiHub, Workbench, Entity Framework, Terminal, VS Code.<br>
            Database: MongoDB, MySQL, Postgres.</h3>

        <h3><strong>PROJECTS </strong><br>
            <a href="http://18.220.137.34">My Portfolio site</a> (technoligies used: Python, Django AWS MySQL
            HTML,CSS,Boots-trap, SQLlite)<br>
            Created a site linking all my projects. One can surf seamlessly through my various projects in and out of
            the
            site. My resume can be downloaded or printed in pdf format aswell from the site.<br><br>

            <a href="http://18.217.90.11">Make a Wish app</a> (technoligies used:Python Django AWS MySQL
            HTML,CSS,Boots-trap, SQLlite)<br>
            Created an app that features, login with registration and validations. A user can make a wish, and then
            grant their wish! They can wish for anything.
            A user should be able to create, edit, update and delete a wished item.<br><br>

            <a href="http://52.14.128.79">Write a quote app</a> (technoligies used: Python, Django, AWS, MySQL
            HTML, CSS, Boots-trap, SQLlite)<br>
            Created an app that also features, login with registration and validations. A user can make write quotes of
            their favourite authors
            on a wall. A user should be able to create, edit, update and delete a quote.<br><br>

            <a href="http://18.222.165.8">Wedding Planner app</a> (technoligies used: Csharp, ASP.NETcore, Entity
            Framework,
            AWS, MySQL
            HTML,CSS,Boots-trap)<br>
            Created an app that features, login with registration and validations. A user can create a wedding and
            invite
            guests to RSVP. Guests can like and unlike other weddigns or Un-RSVP a wedding. All guests for a particular
            wedding can also beviewed. authors
            on a wall. A user should be able to create, edit, update and delete a wedding.<br><br>

            <a href="http://18.220.54.169">Health Wall app</a> (technoligies used: Csharp, ASP.NETcore, Entity
            Framework,
            AWS, MySQL
            HTML,CSS,Boots-trap)<br>
            Created an app that features, login with registration and validations. A user can post thier favourite
            health
            habbits on a wall so anyone can adopt. A user should be able to create, edit, update and delete a
            habbit.<br><br>

            <a href="http://3.14.136.63">Clakkle app</a> (technoligies used: Python, Django AWS MySQL
            HTML,CSS,Boots-trap)<br>
            Created an app that features Django authentications. A getUserMedia() method was used in a pre scripted
            javascript function. A user can record a voice post on a dashboard. A user
            should be able to create and delete a
            voice post. By its completion, a user will be able to like and unlike other voice posts, follow and unfollow
            other users and build a wall of interests from a wide variety of suggestions. <br><br>



        </h3>


        <h3> <strong>PROFESSIONAL EXPERIENCE</strong></h3>


        <h3><strong>CODING DOJO. SEATTLE WA. <br> NOV 2019 TO MAY 2019.<br>SOFTWARE DEVELOPMENT BOOTCAMP.</strong> <br>
            Coding Dojo is full time and part time 14 to 16 week immersive software development bootcamp with
            several
            onsite and online locations.<br>The program teaches any where from 2 to 3 full stacks including Python
            (Flask &
            Django Frameworks), C#/ASP.NET (Dapper & Entity Frameworks), and the MEAN stack along with SQL and NoSQL
            databases.<br>
            At the end of each of my two stacks, I was given a wireframe that I had 5 to 48 hours to build into a
            full
            CRUD
            application which included server-side validations, login and registration.<br>
            During my time in the program, it was not uncommon for me to spend 10-12 hours per day developing the
            skills to
            become a
            self-sufficient developer which included an understanding of advanced programing concepts and data
            structures.<br>
            After completing the program, I am now proficient in HTML, CSS, JavaScript (jQuery, Ajax), C#/ASP.Net -
            (
            Entity Framework) and Python (Flask & Django Frameworks) </h3>

        <h3><strong>ZENITH EDUCATION GROUP. <br>MONTGOMERY AL. <br> DEC 2012 TO FEB 2018. <br>FULL TIME
                FACULTY.</strong><br>
            Participated in curriculum development and online course redesign with the IT team.<br>
            Was Subject Matter Expert in several accounting courses during website and course content redesign.<br>
            Performed
            deep dive sessions and was involved in weekly team meetings.<br>
            Coached, Mentored and Delivered coursework in various accounting courses using an online platform to over 90
            students
            each
            term.<br>
        </h3>
        <br>

        <h3> <strong>UNITY SOLUTIONS & CONSULTING. <br> JOHANNESBURG SA.<br>MAY 2010 TO NOV 2012. <br>SQL DATA
                ANALYST.</strong><br>
            Involved in writing queries, creating database objects such as; tables, views, stored procedures and
            triggers.<br>
            Developed Tableau workbooks from multiple data sources using Data Blending.<br>
            Accessed and transformed datasets through joins, filtering, grouping and aggregation.<br>
        </h3>

        <h3> <strong>ALABAMA DEPARTMENT OF REVENUE<br>MONTGOMERY AL.<br>MAY 2006 TO MARCH 2010<br>REVENUE
                EXAMINER.</strong><br>
            Was subject matter expert during online tax forms development and testing.<br>
            Audited sub chapter s corporations and individual income tax returns.<br>
            Researched tax anomalies between state and federal tax laws.<br>
            Regularly responded to enquiries from the public and corporations by phone, email and in person.<br>
        </h3>
        <br>
        <h3><strong>EDUCATION </strong></h3>
        <h3> CODING DOJO, ONLINE TRACK FROM SEATTLE WA. MAY 2019.<br>Computer Software Engineering Immersive. </h3>
        <h3> TROY UNIVERSITY, TROY AL 2005.<br>MBA (Accounting Concentration) </h3>


    </div>
</body>

</html>